.featured {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 40px auto 0px auto;
  gap: 20px;
}
.featuredCard {
  border: 1px solid rgba(183, 183, 183, 0.5);
  height: 80vh;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 30px;
}
.featuredImgWrapper {
  width: 100%;
  height: 35vh;
  position: relative;
  border-radius: 5px 5px 0 0;
  margin-bottom: 0px;
}
.featured h2 {
  color: rgb(91, 87, 78);
  text-align: left;
  margin-left: 20px;
}
.featured p {
  margin-left: 20px;
  width: 90%;
  color: rgb(75, 75, 75);
  margin-top: -20px;
}
@media screen and (max-width: 600px) {
  .featured {
    grid-template-columns: 1fr;
    width: 85%;
  }
  .featuredCard {
    height: 60vh;
    /* gap: -60px; */
  }
  .featuredImgWrapper {
    height: 30vh;
  }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  .featured {
    grid-template-columns: 1fr 1fr;
    width: 85%;
  }
  .featuredCard {
    height: 50vh;
    /* gap: -60px; */
  }
  .featuredImgWrapper {
    height: 25vh;
  }
}
